
@media screen and (max-width: 499px) {
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    
    
}

@media screen and (max-width: 455px) {
    .headline__content {
        padding: 16px 16px;
    }

    .headline__title {
        font-size: 28px;
    }

    .headline__description {
        font-size: 16px;
    }
    .content{
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .header__menu {
        display: none;
    }
    
}



@media screen and (min-width: 650px) {
    .headline__content {
        margin: 0 auto;
        max-width: 650px;
    }

    .post-item__content {
        padding: 16px 32px 32px 32px;
    }

    .post-item__title {
        font-size: 18px;
    }

    .post-item__description {
        font-size: 14px;
    }
    #menu {
        display: none;
      }
      .nav__list{
        display: flex;
        text-align: center;
    }
    .content{
        width: 50%;
    }
}

@media screen and (min-width: 700px) {
   
    #menu {
        display: none;
      }
      
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }
    #menu {
        display: none;
      }
      .content{
        width: 30%;
    }
}

@media screen and (min-width: 900px) {
    .headline {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .headline__content {
        padding: 16px 32px;
    }
    #menu {
        display: none;
      }

}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
    #menu {
        display: none;
      }
    .nav__list{
        display: flex;
    }
}


#menu {
    font-size: 32px;
    text-decoration: none;
    color: black;
   }

   @media screen and (max-width: 600px) {
    #drawer {
        width: 250px;
        height: 100%;
        position: absolute;
        /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
        transform: translate(-250px, 0);
        transition: transform 0.3s ease-in-out;
        background-color:#111;
       }
    
    #drawer.open {
        transform: translate(0,0)
       }
        
        
        
        
       /* styling pendukung */
        
        
       main {
        padding: 16px;
       }
        
        
       #drawer ul {
        list-style-type: none;
        padding: 0 16px;
       }
        
        
       #drawer li {
        padding: 5px;
       }
        
        
       #drawer a {
        text-decoration: none;
        font-size: 25px;
        color: white;
       }
   }   


   
  