<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">

</head>
<body>
    <a  class="skip-link"  href="#maincontent" >Skip to main content</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Restaurant Apps
            </h1>
         
        </div>
    </header>
<a id="menu" class="tombol"  href="#">☰</a>
<nav id="drawer" class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a class="tombol" href="/">Home</a></li>
        <li class="nav__item"><a class="tombol" href="#">Favorite</a></li>
        <li class="nav__item"><a class="tombol"href="https://www.linkedin.com/in/mzfuadi97/">About Us</a></li>
    </ul>
    
</nav>

<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">SELAMAT DATANG DI RESTAURANT APPS</h1>
        <p class="hero__tagline">Restaurant Apps Menyediakan Beberapa Referensi Restaurant Terkenal</p>
    </div>
</div>
<main id="maincontent" class="latest">
    
        <h1 class="latest__label">PILIHLAH RESTAURANT MU</h1>

    <div id="res-list" class="card tombol">
    </div>
</main>
<footer>
  <a class="tombol" >Copyright © 2020 - Restaurant Apps</a>
</footer>
</body>
</main>
</html>
